.hero {
  position: relative;
  width: 100%;
  height: 80dvh;
  @include breakpoint-tablet {
    height: 0;
    min-height: 540px;
  }
  @include breakpoint-desktop-small {
    min-height: 80dvh;
  }
}
.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #fff, #000);
    mix-blend-mode: multiply;
    z-index: 2;
  }
}
.hero-text {
  position: relative;
  z-index: 3;
  height: 100%;
  display: flex;
  align-items: end;

  h1 {
    max-width: 996px;
    @include breakpoint-tablet {
      max-width: 497px;
    }
    @include breakpoint-desktop-small {
      max-width: 975px;
    }
  }

  .wrapper {
    padding-bottom: 10px;
    @include breakpoint-tablet {
      padding-bottom: 58px;
    }
    @include breakpoint-desktop-small {
      padding-bottom: 96px;
    }
  }
}
.btns {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 6px;
  a {
    align-self: start;
  }
  @include breakpoint-tablet {
    flex-direction: row;
  }
}

.body-text-menu {
  margin-bottom: 6px;
  ul {
    display: flex;
    gap: 5px;
    li {
      list-style: none;
      color: $color-brown;
      a {
        font-family: "filson-pro", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: $color-brown;
        text-decoration: none;
        &::after {
          content: "/";
          margin-left: 5px;
        }
      }
      &:last-child {
        a {
          &::after {
            content: "";
            margin-left: 5px;
          }
        }
      }
    }
  }
}
.body-text-container {
  @include breakpoint-desktop-small {
    display: flex;
    gap: 24px;
  }
}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 388px;
  @include breakpoint-desktop-small {
    min-width: 388px;
  }
}

.sidebar-contact {
  padding: 32px 46px 26px 46px;
  background-color: $color-grey;
  h3 {
    color: $color-black;
    margin-bottom: rem(28px);
  }
}
.sidebar-calendar{
  padding: 32px 46px 26px 46px;
  background-color: $color-grey;
  h3 {
    color: $color-black;
    margin-bottom: rem(28px);
  }
}
.sidebar-calendar-event{
  padding: 5px 0;
  display: flex;
  gap: 16px;
}
.image-slider {
  overflow-x: hidden;
  @include breakpoint-desktop-small {
    padding: 36px 0 80px 0;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 21px;
    @include breakpoint-tablet {
      gap: 0 41px;
    }
  }
}
.image-slider-header {
  gap: 10px;
  display: flex;
  flex-direction: column;
  @include breakpoint-tablet {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
  }
  @include breakpoint-desktop-small {
    margin-bottom: 10px;
  }
  h2 {
    margin-bottom: 15px;
    @include breakpoint-tablet {
      margin: 0;
      max-width: 450px;
      font-size: 40px;
    }
    @include breakpoint-desktop-small {
      max-width: 588px;
      font-size: 64px;
      line-height: 64px;
    }
  }
}
.image-slider-items {
  position: relative;
  width: 100%;
  margin-left: -10px;
  @include breakpoint-tablet {
    width: 140%;
    margin-left: -30px;
  }
  @include breakpoint-desktop-small {
    width: 125%;
  }
  @include breakpoint-desktop-small {
    width: 150%;
  }
}
.image-slider-item {
  padding: 10px 0 10px 10px;
  @include breakpoint-desktop-small {
    padding: 30px 0 30px 30px;
  }
}

.tns-item[aria-hidden='true'] {
  padding: 70px !important;
}

.image-slider-item-link {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  margin: 50px 0;
  box-shadow: 0px 2px 9px #00000040;
  transition: all 0.2s ease-in-out;
  @include breakpoint-desktop-small {
    box-shadow: 0px 4px 30px #00000040;
  }
  &:hover{
   
  }
}

.image-slider-item-image {
  width: 100%;
  height: 303px;
  @include breakpoint-tablet {
    height: 375px;
  }
  @include breakpoint-desktop-small {
    height: 403px;
  }
}
.image-slider-item-text {
  display: block;
  background-color: $color-white;
  padding: 29px 24px 23px 23px;
  @include breakpoint-desktop-small {
    padding: 13px 24px 23px 23px;
  }
  h3 {
    color: $color-black;
    line-height: 32px;
    margin-bottom: 16px;
  }
  span {
    text-transform: capitalize;
    color: $color-brown;
    font-size: 16px;
    padding-right: 12px;
    font-family: "filson-pro", sans-serif;
    font-weight: 400;
  }
}
.image-slider-item-text-nav {
  padding-bottom: 10px;
  @include breakpoint-tablet {
    padding-bottom: 0px;
  }
  @include breakpoint-desktop-small {
    padding-bottom: 10px;
  }
}
.image-slider-arrow {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 3px;
  span {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #ececec;
    opacity: 0.6;
  }
}

.btn-slider {
  margin: 0px 0 28px 0;
  align-self: center;
  @include breakpoint-tablet {
    margin: 32px 0 30px 0;
  }
  @include breakpoint-desktop-small {
    margin: 5px 0 0px 0;
  }
}

.tns-controls {
  display: flex;
  align-items: end;
  gap: 10px;
  button {
    cursor: pointer;
    border: none;
    width: 48px;
    aspect-ratio: 1/1;
    background-size: 13px 12px;
    text-indent: -99999px;
    &[data-controls="prev"] {
      background: $color-brown url(images/arrow-left.svg) no-repeat center
        center;
    }
    &[data-controls="next"] {
      background: $color-brown url(images/arrow.svg) no-repeat center center;
    }
  }
}

.example {
  filter: drop-shadow(0px 4px 15px #00000040);
  @include breakpoint-desktop-small {
    filter: drop-shadow(0px 4px 10px #00000040);
  }
}


.text-image {
  background-color: $color-brown;
  overflow-x: hidden;
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px 24px;
    @include breakpoint-tablet {
      grid-template-columns: repeat(8, 1fr);
    }
    @include breakpoint-desktop-small {
      grid-template-columns: repeat(12, 1fr);
    }
  }
}

.text-image-text {
  padding: 75px 0;
  grid-column: 1 / -1;
  @include breakpoint-tablet {
    grid-column: 1 / 8;
    padding: 75px 0 70px;
  }
  @include breakpoint-desktop-small {
    grid-column: 1 / 7;
    padding: 77px 0;
  }
  h2 {
    color: $color-white;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 15px;
    @include breakpoint-tablet {
      font-size: 40px;
      margin-bottom: 36px;
    }
    @include breakpoint-desktop-small {
      font-size: 64px;
      line-height: 64px;
      margin-bottom: 30px;
    }
  }
  .first-paragraph {
    padding-bottom: 30px;
  }
  p {
    color: $color-white;
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 0px;
  }
  .btn-green {
    margin-top: 20px;
  }
}

.text-image-image {
  position: relative;
  min-height: 400px;
  grid-column: 1 / -1;
  @include breakpoint-tablet {
    min-height: 370px;
  }
  @include breakpoint-desktop-small {
    grid-column: 8 / -1;
  }
  > img {
    left: -10%;
    width: calc(100% + 20%);
    @include breakpoint-desktop-small {
      left: 0%;
      width: calc(100% + 100%);
      transform: scaleX(-1);
    }
  }
}
.main-image-slider {
  overflow-x: hidden;
}

.pagination {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 0px;
  margin-top: 16px;
  padding: 0 60px;
}

.pagination-button {
  background-color: transparent;
  border: none;
  height: 48px;
  width: 48px;
  font-size: 17px;
  font-weight: bold;
  color: $color-black;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination-button:hover {
  background-color: #471b17;
  color: white;
}

.pagination-button.active {
  background-color: $color-brown;
  color: $color-white;
}

.main-image-slider {
  position: relative;
  z-index: 1;
  .tns-controls-main {
    position: absolute;
    top: -1%;
    left: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
    gap: 10px;
    transform: translateY (-50%);
    button {
      position: relative;
      z-index: 3;
      cursor: pointer;
      border: none;
      width: 48px;
      height: 48px;
      aspect-ratio: 1/1;
      background-size: 13px 12px;
      text-indent: -99999px;
      &[data-controls="prev"] {
        background: url(images/arrow-left-brown.svg) no-repeat center center;
        position: absolute;

        left: 0%;
      }
      &[data-controls="next"] {
        position: absolute;
        right: 0%;
        background: url(images/arrow-right-brown.svg) no-repeat center center;
      }
    }
  }
}
.container-silder {
  display: flex;
  position: relative;
  justify-self: center;
}
.main-image-slider-search {
  .search {
    position: relative;
    padding: 14px;
    outline: 0;
    border: none;
    background-color: #ececec;
    &::placeholder {
      font-size: 17px;
      color: #2a2839;
    }
  }
  .icon-search {
    position: relative;
    top: -2px;
    left: -34px;
    width: 10px;
    height: 10px;
  }
}

.example-t {
  padding: 50px;
}

//  section values

.values {
  padding: 60px 0;
  @include breakpoint-tablet{
    padding: 38px 0;
  }
  @include breakpoint-desktop-small{
    padding: 64px 0;
  }
  .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
      margin: 0 0 20px 0;
      @include breakpoint-desktop-small{
        margin-bottom: 34px;
      }
    }
  }
}

.values-items{
  display: flex;
  flex-direction: column;
  @include breakpoint-tablet{
    flex-direction: row;
    gap: 56px;
  }
}
.values-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 222px;
  @include breakpoint-desktop-small{
  }
}
.values-item-image{
  background-color: $color-brown;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-bottom: 18px;
  margin: 30px 0;
  @include breakpoint-desktop-small{
    width: 178px;
    height: 178px;
    border-radius: 50%;
    margin-bottom: 18px;
  }
  >img{
    width: 44px;
    height: 34px;
    object-fit: contain;
    @include breakpoint-desktop-small{
      width: 60px;
      height: 50px;
    }
  }
}
.values-item-text{
  h3{
    text-align: center;
    color: $color-black;
    margin-bottom: 10px;
    font-size: 20px;
    @include breakpoint-desktop-small{
      font-size: 24px;
    }
  }
  p{
    text-align: center;
    @include breakpoint-tablet{
      max-width: 160px;
    }
    @include breakpoint-desktop-small{
      max-width: 100%;
    }
  }
}
// cta

.cta {
  padding: 60px 0;
  @include breakpoint-tablet{
    padding: 54px 0 57px 0;
  }
  @include breakpoint-desktop-small{
    padding: 47px 0 59px 0; 
  }
  .wrapper {
    background-color: #cc4236;
  }
}

.cta-content {
  display: flex;
  flex-direction: column;
  padding: rem(45px) rem(30px) rem(55px);
  @include breakpoint-tablet {
    padding: rem(59px) rem(47px) rem(57px) rem(55px);

  }

  @include breakpoint-desktop-small {
    padding: 58px 100px 75px;
    gap: 0;
  }

  h2 {
    color: $color-white;
    font-size: rem(40px);
    margin: 0 0 rem(23px) 0;
    @include breakpoint-tablet {
      margin-bottom: 25px;
    }

    @include breakpoint-tablet {
      font-size: rem(64px);
    }
  }

  p {
    color: $color-white;
    font-size: rem(24px);
    margin-bottom: rem(10px);
    @include breakpoint-tablet {
      margin: 0;
    }
  }
}

.cta-content-text-link {
  display: flex;
  flex-direction: column;
  @include breakpoint-desktop-small {
    gap: rem(20px);
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

// change background in text image
.backgorund-text-image{
  background-color: $color-white ;
  .text-image-text {
    h2{
      color: $color-black;
    }
    p {
      color: $color-black;
    }
    .btn{
      background-color: $color-brown;
      color: $color-white;
      &::before {
        position: absolute;
        content: "";
        top: 53%;
        right: 10px;
        width: 14px;
        height: 13px;
        transform: translate(-50%, -50%);
        background: url(/images/arrow.svg) no-repeat center center;
      }
    }
    .btn-green{
        &:hover {
          &::before {
            background: url(/images/arrow.svg) no-repeat center center;
          }
          &::after {
            position: absolute;
            content: "";
            bottom: 0;
            right: 0%;
            width: 100%;
            height: 100%;
            background-color: rgb(129, 9, 9);
            animation: btn-move 0.3s;
            z-index: -1;
          }
        }
    }
  }
}

// title-text
.title-text{
  padding: 54px 0 63px 0;
  @include breakpoint-tablet{
    padding: 89px 0 104px 0;
  }
  @include breakpoint-desktop-small{
    padding: 91px 0 94px 0;
  }
  background-color: $color-green;
  .wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 24px;
    @include breakpoint-tablet{
      grid-template-columns: repeat(8, 1fr);
    }
    @include breakpoint-desktop-small{
      grid-template-columns: repeat(12, 1fr);
    }
  }
}
.title-text-title{
  grid-column: 1 / -1;
  padding: 30px;
  @include breakpoint-tablet{
    grid-column: 2 / 7;
    padding: 0px;
  }
  @include breakpoint-desktop-small{
    grid-column: 2 / 4;
  }
  h3{
    color:$color-white;
    @include breakpoint-tablet{
      width: 280px;
    }
  }
}
.title-text-text{
  padding: 0px 22px 0 30px;
  grid-column: 1 / -1;
  @include breakpoint-tablet{
    grid-column: 2 / 8;
    padding: 0;
  }
  @include breakpoint-desktop-small{
    grid-column: 6 / 12;
  }
  p{
    color:$color-white;
    font-size: 20px;
    line-height: 32px;
    @include breakpoint-tablet{
      max-width: 440px;
    }
    @include breakpoint-desktop-small{
      max-width: 100%;
    }
  }
}


// info

.info{
  margin: 60px 0;
  @include breakpoint-tablet{
    padding: 47px 0;
  }
  background-color: $color-green;
  .wrapper{
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    @include breakpoint-tablet{
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
.info-time{
  position: relative;
  &::before{
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 100%;
    height: 1px;
    background-color:rgb(255, 255, 255, 0.2);
  }
  padding: 30px 35px 30px;
  @include breakpoint-tablet{
    padding: 0px 25px 0px 0;
    &::before{
      content: '';
      position: absolute;
      top: -15px;
      right: 0;
      width: 1px;
      height: 130%;
      background-color:rgb(255, 255, 255, 0.2);
    }
  }
  h3{
    color: $color-white;
    margin-bottom: 11px;
  }
}
.info-time-item{
  display: flex;
  gap: 16px;
  align-items: start;
  >img{
    margin-top: 5px;
  }
  .info-time-text-time {
   max-width: 136px;
   p{
    color: $color-white;
   }
  }
}

.info-location{
  position: relative;
  padding: 30px 35px 30px;
 &::before{
  content: '';
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color:rgb(255, 255, 255, 0.2);
}
 @include breakpoint-tablet{
  padding: 0px 27px 0px 32px;
  border-bottom: 0;
  &::before{
    content: '';
    position: absolute;
    top: -15px;
    right: 0;
    width: 1px;
    height: 130%;
    background-color:rgb(255, 255, 255, 0.2);
  }
}
  h3{
    color: $color-white;
    margin-bottom: 11px;
  }
}
.info-location-item{
  display: flex;
  gap: 14px;
  p{
    color: $color-white;
    max-width: 181px;

  }
}
.info-link{
  margin: 20px 10px;
  @include breakpoint-tablet{
    margin: 0;
    display: flex;
    align-items: center;
  }
  .btn{
    background-color: $color-green;
    padding-right: 31px;
      &::before{
        right: 0;
      }
  }
}