// accordion
.accordion {
padding: 40px 0;
@include breakpoint-tablet {
  padding: 60px 0;
}

@include breakpoint-desktop-small {
  padding: 67px 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @include breakpoint-tablet {
      grid-template-columns: repeat(8, 1fr);
  }

  @include breakpoint-desktop-small {
      grid-template-columns: repeat(12, 1fr);
  }
  gap: 24px;
  h2 {
      margin: 0;
      grid-column-start: 1;
      grid-column-end: 4;
      margin-bottom: 16px;

      @include breakpoint-tablet {
          grid-column-start: 1;
          grid-column-end: 8;
          margin-bottom: 10px;
      }

      @include breakpoint-desktop-small { 
          grid-column-start: 3;
          grid-column-end: 6;
          margin-bottom: 10px;
      }
  }
}
}

.accordion-item {
cursor: pointer;
grid-column:1/5;
border-bottom: 1px solid $color-black;
&:last-child {
  border: none;
}
@include breakpoint-tablet {
  grid-column: 1 / 9;
}
@include breakpoint-desktop-small {
  grid-column: 3 / 11;
}
}
.accordion-header {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;
h3 {
  color: $color-black;
  font-size: 20px;
  line-height: 32px;
  margin: 0;

}
img {
  width: 14px;
  height: auto;
}
}
.accordion-content {
  display: none;
  font-size: 20px;
  line-height: 32px;
   
}
.accordion-active .accordion-content {
      display: block;
      font-size: 20px;
      line-height: 32px;

}


.accordion-active .accordion-header img {
transform: matrix(-1, 0, 0, -1, 0, 0);    
}

.accordion-content-text {
  padding-left: 10px;
padding-bottom: 28px;
@include breakpoint-tablet {
  padding-bottom: 15px;
}
@include breakpoint-desktop-small {
  grid-column: 3 / 11;
}
}

// activities
.activities{
  overflow-x: hidden;
  padding:  0;
  .wrapper{
    margin-bottom: 25px;
  }
  .tns-item[aria-hidden='true'] {
    padding-left:  100px !important; 
    padding:  100px !important; 
  }
  
}
.activities-items{
  @include breakpoint-desktop-small{
    padding-right: 24px;
  }
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(1, 1fr);

}
.activities-item{
  display: flex;
  min-height: 170px;
  background-color: $color-white;
  box-shadow: 0px 2px 50px #00000040;
}
.activities-item-content{
  flex: 2;
  padding: 25px;
  h3{
    color: $color-black;
    margin-bottom: 25px;
  }
}
.activities-item-image{
  flex: 1;
  display: none;
  @include breakpoint-tablet{
    display: block;
  }
}
.activities-item-content-calendar{
  display: flex;
  align-items: center;
  gap: 14px;

  span{
    line-height: 24px;
    display: flex;
    align-items: center;
  }
}

.activities-all{
  margin: -50px;
}
.tns-ovh{
  padding: 50px;
}

.pagination {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 0px;
  margin-top: 16px;
  padding: 0 60px;
}

.pagination-button {
  background-color: transparent;
  border: none;
  height: 48px;
  width: 48px;
  font-size: 17px;
  font-weight: bold;
  color: $color-black;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination-button:hover {
  background-color: #471b17;
  color: white;
}

.pagination-button.active {
  background-color: $color-brown;
  color: $color-white;
}


  .tns-controls-main {
    position: absolute;
    top: -1%;
    left: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
    gap: 10px;
    transform: translateY (-50%);
    button {
      position: relative;
      z-index: 3;
      cursor: pointer;
      border: none;
      width: 48px;
      height: 48px;
      aspect-ratio: 1/1;
      background-size: 13px 12px;
      text-indent: -99999px;
      &[data-controls="prev"] {
        background: url(images/arrow-left-brown.svg) no-repeat center center;
        position: absolute;

        left: 0%;
      }
      &[data-controls="next"] {
        position: absolute;
        right: 0%;
        background: url(images/arrow-right-brown.svg) no-repeat center center;
      }
    }
  }

.container-silder {
  margin-top: 40px;
  display: flex;
  position: relative;
  justify-self: center;
}


.footer-top{
  background-color: #347E7D;
  padding: 50px 0;
  @include breakpoint-tablet{
    padding: 57px 0;
  }
  @include breakpoint-desktop-small{
    padding: 108px 0; 
  }
  .wrapper{
    display: flex;
    flex-direction: column;
    gap: 50px;
    @include breakpoint-desktop-small{
      justify-content: space-between;
      flex-direction: row;
    }
  }
  .logo{
    display: flex;
    align-items: center;
    a{
      width: 300px;
      height: 90px;
    }
  }
}
.footer-contact{
  display: flex;
  gap: 34px;
  flex-direction: column;
  @include breakpoint-tablet{
    gap: 100px;
    flex-direction: row;
  }
  h3{
    color: #fff;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 0px;
  }
  a{
    display: block;
    color: #fff;
    font-size: 20px;
    line-height: 32px;
    font-weight: normal;
    >img{
      width: 35px;
      height: 35px;
    }
  }
  p{
    color: #fff;
    font-size: 20px;
    line-height: 32px;
  }
}
.footer-contact-social{
  h3{
    margin-bottom: 10px;
  }
  a{
    display: inline;
    margin-left: 5px;
  }
}


.footer-bottom{
  background-color: #2A2839;
  .wrapper{
    display: flex;
    justify-content: center;
    P{
      text-align: center;
      color: #fff;
      padding: 25px 0;
      max-width: 291px;
      @include breakpoint-tablet{
        max-width: 100%;
        padding: 44px 0 46px 0;
      }
     
    }
    a{
      color: #fff;
    }
  }
}