h1, h2, h3, h4{
    font-family: "filson-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    color: $color-black;
}

h2, h3, h4{
    margin-bottom: rem(10px);
}

h1{
    font-size: rem(30px);
    margin-bottom: rem(30px);
    line-height: rem(30px);
    font-weight: bold;
    color: $color-white;
    @include breakpoint-tablet{
        font-size: rem(44px);
        line-height: rem(44px);
        margin-bottom: rem(30px);
    }
    @include breakpoint-desktop-small {
        font-size: rem(64px);
        line-height: rem(64px);
        margin-bottom: rem(50px);
    }
}

h2{
    font-size: rem(32px);
    margin-bottom: rem(40px);
    @include breakpoint-tablet{
        font-size: 40px;
        margin-bottom: rem(45px);
    }
    @include breakpoint-desktop-small{
        font-size: rem(64px);
    }
}

h3{
    font-size: rem(24px); 
    margin-bottom: rem(15px);
    color: $color-brown;
}

h4{
    font-size: rem(22px);
}

b, strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

.quotes{
    font-style: italic;
    color: $color-brown;
    font-size: rem(20px); 
    line-height: rem(32px) !important;
    margin-bottom: rem(15px) !important;
    @include breakpoint-tablet{
        margin-bottom: rem(18px) !important;
    }
}
p{
    font-family: "filson-pro", sans-serif;
}

.text-container {
    max-width: rem(957px);
    @include breakpoint-tablet{
        max-width: rem(588px);
    }
    @include breakpoint-desktop-small{
        min-width: 588px;
    }
    p, ul, ol,
    blockquote,
    .embed-container,
    .wp-caption {
        line-height: rem(24px);
        margin-bottom: rem(50px);
        max-width: 100%;
    }

    ul, ol {
        position: relative;
        list-style: none;

        li:not(.gfield) {
            padding-left: 1.25em;

            &::before {
                position: absolute;
                text-indent: -1.25em;
            }
        }
    }

    ul {
        li:not(.gfield) {
            &::before {
                content: '•';
            }
        }
    }

    ol {
        counter-reset: ol-counter;

        li {
            counter-increment: ol-counter;

            &::before {
                content: counter(ol-counter) '.';
            }
        }
    }

    a{
        
        &:not(.btn){
            &:hover{
                color: $color-black;
            }    
        }
        
    }
    p{
        font-family: "filson-pro", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: $color-black;
        margin-bottom: 50px;
    }

    blockquote {
        padding-left: 1em;
        font-size: 1.4em;
        line-height: 1.2;
        border-left: .1rem solid currentColor;
    }
}