$html-font-size: 16px;

// Colors
$color-black: #1E1E1E;
$color-white: #fff;
$color-orange: #F7AC00;
$color-red: #CC4236;


// Fonts
$font-family-title: "filson-pro", arial;
$font-family-default: "Open Sans", sans-serif;
