$html-font-size: 16px;

// Colors
$color-black: #1E1E1E;
$color-white: #fff;
$color-orange: #F7AC00;
$color-brown: #CC4236;
$color-grey: #f2f2f2;
$color-green: #347E7D;


// Fonts
$font-family-title: "filson-pro", sans-serif;
$font-family-default: "filson-pro", sans-serif;
